<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook I will be summarizing Data Science Tools and Ecosystem.

#### Objectives:

* Listing different types of languages that data scientists use

* Listing different type of tools that data scientists use

* Listing different type of libraries for data science projects

* Writing a code in python to convert minutes to hours

##### Some of the popular languages that Data Scientists use are:

* Python

* R

* SQL

* Julia

* Jave

* Scala

* C++

### Data Science Libraries 

* Scikit-Learn

* Pandas

* Numpy

* Matplotlib

* Scipy 

* TensorFlow

* Keras 

* Pytorch

### Data Science Tools

* Jupyter Notebook/Lap

* Rstudio

* Matlap

* Apache Spark

* MS PowerBI

* GitHub

* MS SSIS

### Arithmetic Expression Examples

$\hat{Y} = \hat{\beta}_{0} + \sum \limits _{j=1} ^{p} X_{j}\hat{\beta}_{j} $

$\hat{Y} = \hat{\beta}_{0} - \sum \limits _{j=1} ^{p} X_{j}\hat{\beta}_{j} $

In [6]:
# This a simple arithmetic expression to mutiply then add integers 
X =(3*4)+5
print(X)

17

### Converting Minutes to Hours

In [7]:
# This will convert 200 minutes to hours by diving by 60.
Minutes = 200
Hours = Minutes/60 
print(" Hours = ", Hours)

 Hours =  3.3333333333333335

## Author 
Muhammad Ali